<!DOCTYPE html>
<html lang="ko-kr">
<head>

    {% load split %}
    <meta charset="UTF-8">
    <title>경기일정</title>
    <style>
        #sample {margin:auto ; padding: 10px ;border: solid red 1px}
        #sample td {padding: 10px; }
        tr{border: 1px black}
    </style>

</head>
<body>

    <div><label for="date">날짜</label>
        <select name="date">
        <option value="">선택</option>
        <option value="2">07.02</option>
        <option value="3">07.03</option>
        <option value="5">07.05</option>
        <option value="6">07.06</option>
        <option value="8">07.08</option>
        <option value="9">07.09</option>
        <option value="10">07.10</option>
        <option value="16">07.16</option>
        <option value="30">07.30</option>
        <option value="31">07.31</option>
        </select>
    </div>

    <table id = 'sample'>
        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>팀1</th>
            <th>팀2</th>
        </tr>

        <tr>
            <td>{{ date }}</td>
            <td>{{ time }}</td>
            <td>{{ gudan1 }}</td>
            <td>{{ gudan2 }}</td>
        </tr>

           <tr>
            <td>sample1</td>
            <td>sample1</td>
            <td>sample1</td>
            <td>sample1</td>
        </tr>
    </table>

    <div>{{ regdate }}</div>

</body>

</html>