<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
    <style>
        ul {list-style: none}
        .nexist{color: red}
        ul li{margin : 10px}
    </style>

<body>

<div>
    <ul>
        <li><button type="button" onclick="location.href='https://www.uhshop.co.kr/'">울산 현대 축구단</button></li>
        <li><button type="button" class="nexist" onclick="location.href=''">전북 현대</button></li>
        <li><button type="button" onclick="location.href='https://www.fcphshop.com/'">포항 스틸러스</button></li>
        <li><button type="button" onclick="location.href='https://www.jeju-utd.com/shop/shop.asp'">제주 유나이티드</button></li>
        <li><button type="button" class="nexist" onclick="location.href=''">인천 유나이티드</button></li>
        <li><button type="button" onclick="location.href='https://daegufcmall.co.kr/'">대구FC</button></li>
        <li><button type="button" onclick="location.href='https://www.fcseoul.com/fcshop'">FC서울</button></li>
        <li><button type="button"  class="nexist" onclick="location.href=''">수원FC</button></li>
        <li><button type="button"  class="nexist" onclick="location.href=''">강원FC</button></li>
        <li><button type="button" onclick="location.href='https://gimcheonfcshop.com/'">김천 상무 프로축구단</button></li>
        <li><button type="button"  class="nexist" onclick="location.href=''">수원 삼성 블루윙즈</button></li>
        <li><button type="button"  class="nexist" onclick="location.href=''">성남FC</button></li>
    </ul>
</div>




</body>
</html>