{% extends 'layout/Private_Base.html' %}
{% load static %}
{% block title %}{% endblock%}
{% block style %}{% endblock%}

{% block contents %}
<label>
    <select onchange="if(this.value) location.href=(this.value);">
         <option value="">선택</option>
            <option value="all">7월 전체일정</option>
            <option value="http://127.0.0.1:8000/schedule/july_02">07.02</option>
            <option value="3">07.03</option>
            <option value="5">07.05</option>
            <option value="6">07.06</option>
            <option value="8">07.08</option>
            <option value="9">07.09</option>
            <option value="10">07.10</option>
            <option value="16">07.16</option>
            <option value="30">07.30</option>
            <option value="31">07.31</option>
    </select>
</label>
{% endblock %}

{% block script %}
{% endblock %}